# Test folder stuff we don't need.
test/*.log
test/*.jar

#Out of source build stuff we don't want.
build/*

# ANTLR4 (4.7.1 onwards) stuff we don't want.
*.interp
*.tokens
*.class

# Don't include my parser after compilation.
tnsnames_checker.jar


# Ignore every tnsnamesLexer*.* file EXCEPT tnsnamesLexer.g4.
tnsnamesLexer*.*
!tnsnamesLexer.g4

# Ignore every tnsnamesParser*.* file EXCEPT tnsnamesParser.g4.
tnsnamesParser*.*
!tnsnamesParser.g4

tnsnamesParserBaseListener.java
tnsnamesParserListener.java

*.code-workspace
